Appli_KT2/Appli_KT2.iOS/Web References/services/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50681/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServiceAppli_KT.Modelo" />
  <xs:element name="IniciarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IniciarSesionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebServiceAppli_KT.Modelo" minOccurs="0" name="usuario" nillable="true" type="q1:UsuarioClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearCuentaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebServiceAppli_KT.Modelo" minOccurs="0" name="usuario" nillable="true" type="q2:UsuarioClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearPerfilResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebServiceAppli_KT.Modelo" minOccurs="0" name="usuario" nillable="true" type="q3:UsuarioClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarPerfilResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cveUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="cvePersona" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarPerfilResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebServiceAppli_KT.Modelo" minOccurs="0" name="ConsultarPerfilResult" nillable="true" type="q4:UsuarioClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebServiceAppli_KT.Modelo" minOccurs="0" name="consultarResult" nillable="true" type="q5:NotificacionClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPlanteles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPlantelesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WebServiceAppli_KT.Modelo" minOccurs="0" name="obtenerPlantelesResult" nillable="true" type="q6:ArrayOfPlantelesESClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCarreras">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCarrerasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WebServiceAppli_KT.Modelo" minOccurs="0" name="obtenerCarrerasResult" nillable="true" type="q7:ArrayOfCarrerasESClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>