Appli_KT2/Appli_KT2.Android/Web References/services/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebServiceAppli_KT.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServiceAppli_KT.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuarioClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cveUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="estatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="persona" nillable="true" type="tns:PersonaClass" />
      <xs:element minOccurs="0" name="rol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioClass" nillable="true" type="tns:UsuarioClass" />
  <xs:complexType name="PersonaClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="colonia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="curp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cvePersona" type="xs:int" />
      <xs:element minOccurs="0" name="estadoCivil" type="xs:int" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="municipio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nacionalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroTelefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="perfil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rfc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sexo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonaClass" nillable="true" type="tns:PersonaClass" />
  <xs:complexType name="NotificacionClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="audiencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="categorizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="colorSemaforizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cveNotificaciones" type="xs:int" />
      <xs:element minOccurs="0" name="medioDifusion" nillable="true" type="tns:MediosEnvioClass" />
      <xs:element minOccurs="0" name="responsable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="texto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoNotificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificacionClass" nillable="true" type="tns:NotificacionClass" />
  <xs:complexType name="MediosEnvioClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="cveMedioEnvio" type="xs:int" />
      <xs:element minOccurs="0" name="estatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediosEnvioClass" nillable="true" type="tns:MediosEnvioClass" />
  <xs:complexType name="ArrayOfPlantelesESClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlantelesESClass" nillable="true" type="tns:PlantelesESClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlantelesESClass" nillable="true" type="tns:ArrayOfPlantelesESClass" />
  <xs:complexType name="PlantelesESClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="OPD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="claveInstitucion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clavePlantel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="detallePlantel" nillable="true" type="tns:DetallePlantelClass" />
      <xs:element minOccurs="0" name="idPlantelesES" type="xs:int" />
      <xs:element minOccurs="0" name="municipio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nivelAgrupado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreInstitucionEs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombrePlantelES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sostenimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subsistema" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlantelesESClass" nillable="true" type="tns:PlantelesESClass" />
  <xs:complexType name="DetallePlantelClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="costos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cveDetallePlantel" type="xs:int" />
      <xs:element minOccurs="0" name="fechas" type="xs:dateTime" />
      <xs:element minOccurs="0" name="imagenPlantel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="latitud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="logoPlantel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="longitud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nivelEstudio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="requisitos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="urlVinculacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetallePlantelClass" nillable="true" type="tns:DetallePlantelClass" />
  <xs:complexType name="ArrayOfCarrerasESClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarrerasESClass" nillable="true" type="tns:CarrerasESClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarrerasESClass" nillable="true" type="tns:ArrayOfCarrerasESClass" />
  <xs:complexType name="CarrerasESClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="activa" type="xs:int" />
      <xs:element minOccurs="0" name="campoAmplio2016" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="campoAmplioAnterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="campoEspecifico2016" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="campoEspecificoAnterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="claveCarrera" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCarreraES" type="xs:int" />
      <xs:element minOccurs="0" name="nivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreCarreraES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="plantelES" nillable="true" type="tns:PlantelesESClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarrerasESClass" nillable="true" type="tns:CarrerasESClass" />
</xs:schema>